/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/app/dashboard/dashboard.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

html,
body { 
  /* max-width: 100vw;
  overflow-x: hidden; */
}


/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/styles/Dashboard.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.dashboard {
  height: 100vh;
  overflow: hidden;
}

.ant-layout {
  display: flex; 
}

.ant-layout-sider {
  flex: 0 0 auto; 
  overflow: hidden; 
}

.ant-layout-content {
  flex: 1 1; 
  overflow-y: auto; 
}
