.container{
    width:100%;
    height: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}   

.box{
    width: 90%;
    height: 62%;
    position: relative;
    background-color: rgb(235 241 250);
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
}

.btns{
    display: flex;
    justify-content: space-between;
}

.edit{
    border-radius: 19%;
}

.imageView{
    display: flex;
    flex-direction: column;
}
.canvas{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    justify-content: center;
}

.rectangle-list{
    display: flex;
    flex-wrap:wrap;
}
.yes{
    display: flex;
    margin-left: 10px;
    margin-bottom: 10px;
}
/* AnnotationTool.css */
.annotation-tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.content h3{
    margin-right: 5px;
}


.doneDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}