  .pricing-plans {
        gap: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 50px;
    height: 100%;
  }
  
  .pricing-card {
    background-color: #0985e3d8;
    --col: #e4e4e7;
    position: relative;
    min-width: 360px;
    padding: 20px;
    padding-bottom: 60px;
    border-radius: 10%;
    border: 1px solid #262626;
    /* background-color: #26262620; */
    box-shadow: 0 0 32px transparent;
    text-align: center;
  }
  
  .pricing-card.basic {
    --col: white;
  }
  
  .pricing-card.standard {
    --col: white;
  }
  
  .pricing-card.premium {
    --col: white;
  }
  
  .pricing-card:hover {
    border-color: var(--col);
    /* background-color: #26262680; */
    /* box-shadow: 0 0 32px #171717; */
    transform: translateY(-12px) scale(1.02);
    transition: all 0.5s ease;
  }
  
  .pricing-card > *:not(:last-child) {
    margin-bottom: 32px;
  }
  
  .pricing-card .heading h4 {
    padding-bottom: 12px;
    color: white;
    font-size: 24px;
    font-weight: normal;
  }
  
  .pricing-card .heading p {
    color: #a3a3a3;
    font-size: 14px;
    font-weight: lighter;
  }
  
  .pricing-card .price {
    position: relative;
    color: white;
    font-size: 60px;
    font-weight: bold;
  }
  
  .pricing-card .price sub {
    position: absolute;
    bottom: 14px;
    color: white;
    font-size: 14px;
    font-weight: lighter;
  }
  .pricing-card .features {
    list-style: none;
  }
  .pricing-card .features li {
    padding-bottom: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
  }
  
  .pricing-card .features li i,
  .pricing-card .features li strong {
    color: white;
    font-size: 16px;
    text-align: left;
  }
  
  .pricing-card .features li strong {
    padding-left: 24px;
  }
  
  .pricing-card .cta-btn {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid var(--col);
    background-color: #001529;
    color: #e4e4e7;
    font-size: 20px;
    font-weight: bold;
  }
  
  .pricing-card .cta-btn:active {
    background-color: transparent;
    color: var(--col);
    transition: all 0.3s ease;
  }
  
  .dark > .pricing-card{
    background-color: #A5D7E8;
  } 
  .qrimage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }