body {
  background: #041428;
}
.pricing {
  /* background: #041428; */
  margin-bottom: 50px;
}


.container{
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  align-items: center;
  height: 80vh;
  padding-left: 35px;
  padding-right: 35px;
}

#cash{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#equity{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card-heading{
  color: var(--c-dark-text-primary);
  text-align: center;
  font-size: large;
}

.table-data {
  text-align: center;
  max-width: 450px;
  padding: 32px;
  border: 1px solid#1677ff;
  border-radius: 25px;
  /* background-color: #E6F4FF; */
  /* background-image: linear-gradient(#020c1a, #020c1a), */
    /* linear-gradient(263.86deg, #345cef -0.33%, #9234ef 93.97%); */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: transform 0.3s ease;
}

.table-data:hover{
  transform: scale(1.1);
}
.item-heading {
  color: var(--c-text-primary);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
}
.item-text {
  text-align: center;
  padding-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
.item-heading span {
  margin-left: 10px;
  font-size: 14px;
  line-height: 21px;
  color: var(--c-text-primary);
  padding: 8px;
  background: linear-gradient(
    263.86deg,
    rgba(52, 92, 239, 0.2) -0.33%,
    rgba(146, 52, 239, 0.2) 93.97%
  );
  border-radius: 4px;
  font-weight: 400;
}
.table-data p:not(:last-child) {
  padding-bottom: 15px;
  padding-top: 12px;
  position: relative;
}
.table-data p:not(:nth-last-child(1))::after {
  position: absolute;
  content: "";
  width: 130px;
  height: 1px;
  background: #474c61;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.tab-content {
  display: none;
}
.tab-content.show {
  display: block;
}

.item-text-dark{
  text-align: center;
  padding-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #eae1e1  !important; /* Set your desired color for dark mode */
}

.item-heading-dark span{
  margin-left: 10px;
  font-size: 14px;
  color: var( --c-dark-text-primary);
  line-height: 21px;
  padding: 8px;
  background: linear-gradient(
    263.86deg,
    rgba(52, 92, 239, 0.2) -0.33%,
    rgba(146, 52, 239, 0.2) 93.97%
  );
  border-radius: 4px;
  font-weight: 400;
} 
.item-heading-dark {
  color: var(--c-dark-text-primary);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: medium;
}

.card-heading-dark{
  color: var(--c-dark-text-primary);
  padding-top: 24px;
  font-size: large;
}