body {
  background: #041428;
}
#pricing {
  background: #041428;
  margin-bottom: 50px;
}



.container{
  display: flex;
  justify-content: space-evenly;
  gap: 70px;
  align-items: center;
  height: 80vh;
  padding-left: 35px;
  padding-right: 35px;
}

#cash{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#equity{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.switcher-box {
  margin-top: 48px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 45px;
}
.switcher-box span {
  color: #fff;
  padding: 0 12px;
  font-size: 18px;
  line-height: 32px;
}
.switcher input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.switcher input[type="checkbox"]:focus {
  outline: 0;
}

.switcher .toggle {
  width: 59px;
  height: 30px;
  display: inline-block;
  position: relative;
  margin: 0;
  border: 2px solid #654fec;
  transition: all 0.2s ease;
  border-radius: 43px;
  -webkit-border-radius: 43px;
  -moz-border-radius: 43px;
  -ms-border-radius: 43px;
  -o-border-radius: 43px;
}
.switcher .toggle:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(263.86deg, #345cef -0.33%, #9234ef 93.97%);
  box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}
.switcher .toggle:checked:after {
  transform: translatex(28px);
  -webkit-transform: translatex(28px);
  -moz-transform: translatex(28px);
  -ms-transform: translatex(28px);
  -o-transform: translatex(28px);
}
.table-data h4 {
  color: #fff;
  text-align: center;
}

.table-data {
  text-align: center;
  max-width: 450px;
  padding: 32px;
  border: 1px solid#1677ff;
  border-radius: 25px;
  background-image: linear-gradient(#020c1a, #020c1a),
    linear-gradient(263.86deg, #345cef -0.33%, #9234ef 93.97%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: transform 0.3s ease;
}

.table-data:hover{
  transform: scale(1.1);
}
.table-data h3 {
  color: #fff;
  padding-top: 24px;
}
#pricing .table-data p {
  text-align: left;
  padding-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.table-data h3 span {
  font-size: 14px;
  line-height: 21px;
  padding: 4px 10px;
  background: linear-gradient(
    263.86deg,
    rgba(52, 92, 239, 0.2) -0.33%,
    rgba(146, 52, 239, 0.2) 93.97%
  );
  border-radius: 4px;
  font-weight: 400;
}
.table-data p:not(:last-child) {
  padding-bottom: 24px;
  position: relative;
}
.table-data p:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 130px;
  height: 1px;
  background: #474c61;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.tab-content {
  display: none;
}
.tab-content.show {
  display: block;
}
