.box {
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* padding: 64px; */
    padding: 20px 100px 20px 100px;
    height: 100%;
}