@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


:root{
 --border-clr: black;   
}

html body{
font-family: 'Poppins', sans-serif;
margin: 0 !important;
  padding: 0;

}

