/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/loginSignup/LoginSignUp.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
/* *, *:before, *:after {
  box-sizing: border-box;
} */


.LoginSignUp_container__8rjCJ {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.LoginSignUp_container__8rjCJ:hover .LoginSignUp_top__gg2AU:before,
.LoginSignUp_container__8rjCJ:hover .LoginSignUp_top__gg2AU:after,
.LoginSignUp_container__8rjCJ:hover .LoginSignUp_bottom__LekB7:before,
.LoginSignUp_container__8rjCJ:hover .LoginSignUp_bottom__LekB7:after,
.LoginSignUp_container__8rjCJ:active .LoginSignUp_top__gg2AU:before,
.LoginSignUp_container__8rjCJ:active .LoginSignUp_top__gg2AU:after,
.LoginSignUp_container__8rjCJ:active .LoginSignUp_bottom__LekB7:before,
.LoginSignUp_container__8rjCJ:active .LoginSignUp_bottom__LekB7:after {
  margin-left: 300px;
  transform-origin: -300px 50%;
  transition-delay: 0s;
}

.LoginSignUp_container__8rjCJ:hover .LoginSignUp_center__HHYp3,
.LoginSignUp_container__8rjCJ:active .LoginSignUp_center__HHYp3 {
  opacity: 1;
  transition-delay: 0.2s;
}

.LoginSignUp_top__gg2AU:before,
.LoginSignUp_top__gg2AU:after,
.LoginSignUp_bottom__LekB7:before,
.LoginSignUp_bottom__LekB7:after {
  content: "";
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  transform-origin: 0 50%;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  z-index: 10;
  opacity: 0.65;
  transition-delay: 0.2s;
}

.LoginSignUp_top__gg2AU:before {
  transform: rotate(45deg);
  background: #e46569;
}

.LoginSignUp_top__gg2AU:after {
  transform: rotate(135deg);
  background: #ecaf81;
}

.LoginSignUp_bottom__LekB7:before {
  transform: rotate(-45deg);
  background: #60b8d4;
}

.LoginSignUp_bottom__LekB7:after {
  transform: rotate(-135deg);
  background: #3745b5;
}

.LoginSignUp_center__HHYp3 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 55%;
  left: 50%;
  margin-left: -200px;
  margin-top: -280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #333;
}

.LoginSignUp_center__HHYp3 input {
  width: 100%;
  height: 50%;
  padding: 15px;
  margin: 5px;
  border-radius: 1px;
  border: 1px solid #ccc;
  font-family: inherit;
}
.LoginSignUp_btn__THu4Z {
  margin: 10%;
  text-align: center;

}

.LoginSignUp_btn__THu4Z {
  width: 200px;
  font-size: 25px;
  font-weight: 600;
  color: #f1e4e4;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 8vh;
  height: 50px;
  /* text-align:center; */
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.LoginSignUp_btn__THu4Z:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.LoginSignUp_btn__THu4Z:focus {
  outline: none;
}

.LoginSignUp_btn__THu4Z {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.LoginSignUp_f_social_icon__Fba0S {
  /* line-height: 43px; */
  background: transparent;
  /* border: 1px solid #e2e2eb; */
  justify-content: center;
  display: flex;
  /* font-size: 20px; */
}

.LoginSignUp_social__7ShQU {
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  transition: all 0.2s linear;
}

.LoginSignUp_social__7ShQU:hover {
  transform: translateY(-5px);
}

.LoginSignUp_facebook__Y0qRd {
  background: #0b34ec;
  border-color: #0b34ec;
  color: white;
}

.LoginSignUp_twitter__LFda9 {
  background: #2ca6ed;
  border-color: #2ca6ed;
  color: white;
}

.LoginSignUp_google__vYwU0 {
  background: #e92525;
  border-color: #e92525;
  color: white;
}

.LoginSignUp_linkedin__DW4q9 {
  background: #29d1dd;
  border-color: #29d1dd;
  color: white;
}


.LoginSignUp_flip-card__PgCs6{
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d ;
  transition: transform 0.5s;
}

.LoginSignUp_flip-card__PgCs6.LoginSignUp_flipped__X8U_f{
  transform: rotateY(180deg);
}
.LoginSignUp_flipInner__hZubV{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d ;
}

.LoginSignUp_front__2Ame6,.LoginSignUp_back__QMqRu{
  position: absolute;
  /* backface-visibility: hidden; */
}
.LoginSignUp_flip__pvZPV{
  transform: rotateY(180deg);
}
.LoginSignUp_front__2Ame6{
  z-index: 2;
  transform: rotateY(0deg);
}

.LoginSignUp_back__QMqRu{
  /* transform: rotateY(180deg); */
}


/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/LoginSignUp.module.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.LoginSignUp_module_container__qGLwJ {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.LoginSignUp_module_container__qGLwJ:hover .LoginSignUp_module_top__bYNRd:before,
.LoginSignUp_module_container__qGLwJ:hover .LoginSignUp_module_top__bYNRd:after,
.LoginSignUp_module_container__qGLwJ:hover .LoginSignUp_module_bottom__yTTPj:before,
.LoginSignUp_module_container__qGLwJ:hover .LoginSignUp_module_bottom__yTTPj:after,
.LoginSignUp_module_container__qGLwJ:active .LoginSignUp_module_top__bYNRd:before,
.LoginSignUp_module_container__qGLwJ:active .LoginSignUp_module_top__bYNRd:after,
.LoginSignUp_module_container__qGLwJ:active .LoginSignUp_module_bottom__yTTPj:before,
.LoginSignUp_module_container__qGLwJ:active .LoginSignUp_module_bottom__yTTPj:after {
  margin-left: 300px;
  transform-origin: -300px 50%;
  transition-delay: 0s;
}

.LoginSignUp_module_container__qGLwJ:hover .LoginSignUp_module_center__4p879,
.LoginSignUp_module_container__qGLwJ:active .LoginSignUp_module_center__4p879 {
  opacity: 1;
  transition-delay: 0.2s;
}

.LoginSignUp_module_top__bYNRd:before,
.LoginSignUp_module_top__bYNRd:after,
.LoginSignUp_module_bottom__yTTPj:before,
.LoginSignUp_module_bottom__yTTPj:after {
  content: "";
  display: block;
  position: absolute;
  width: 200vmax;
  height: 200vmax;
  top: 50%;
  left: 50%;
  margin-top: -100vmax;
  transform-origin: 0 50%;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  z-index: 10;
  opacity: 0.65;
  transition-delay: 0.2s;
}

.LoginSignUp_module_top__bYNRd:before {
  transform: rotate(45deg);
  background: #e46569;
}

.LoginSignUp_module_top__bYNRd:after {
  transform: rotate(135deg);
  background: #ecaf81;
}

.LoginSignUp_module_bottom__yTTPj:before {
  transform: rotate(-45deg);
  background: #60b8d4;
}

.LoginSignUp_module_bottom__yTTPj:after {
  transform: rotate(-135deg);
  background: #3745b5;
}

.LoginSignUp_module_center__4p879 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 55%;
  left: 50%;
  margin-left: -200px;
  margin-top: -280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #333;
}

.LoginSignUp_module_center__4p879 input {
  width: 100%;
  height: 50%;
  padding: 15px;
  margin: 5px;
  border-radius: 1px;
  border: 1px solid #ccc;
  font-family: inherit;
}
.LoginSignUp_module_btn___zwUL {
  margin: 10%;
  text-align: center;

}

.LoginSignUp_module_btn___zwUL {
  width: 200px;
  font-size: 25px;
  font-weight: 600;
  color: #f1e4e4;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 8vh;
  height: 50px;
  /* text-align:center; */
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.LoginSignUp_module_btn___zwUL:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.LoginSignUp_module_btn___zwUL:focus {
  outline: none;
}

.LoginSignUp_module_btn___zwUL {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.LoginSignUp_module_f_social_icon__YecT4 {
  /* line-height: 43px; */
  background: transparent;
  /* border: 1px solid #e2e2eb; */
  justify-content: center;
  display: flex;
  /* font-size: 20px; */
}

.LoginSignUp_module_social__ULjNn {
  align-items: center;
  justify-items: center;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50%;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  transition: all 0.2s linear;
}

.LoginSignUp_module_social__ULjNn:hover {
  transform: translateY(-5px);
}

.LoginSignUp_module_facebook__vtQ6U {
  background: #0b34ec;
  border-color: #0b34ec;
  color: white;
}

.LoginSignUp_module_twitter__V0JA5 {
  background: #2ca6ed;
  border-color: #2ca6ed;
  color: white;
}

.LoginSignUp_module_google__Y7dXd {
  background: #e92525;
  border-color: #e92525;
  color: white;
}

.LoginSignUp_module_linkedin__yNAgb {
  background: #29d1dd;
  border-color: #29d1dd;
  color: white;
}


.LoginSignUp_module_flip-card__msySt{
  perspective: 1000px;
  position: relative;
  transform-style: preserve-3d ;
  transition: transform 0.5s;
}

.LoginSignUp_module_flip-card__msySt.LoginSignUp_module_flipped__ITrDX{
  transform: rotateY(180deg);
}
.LoginSignUp_module_flipInner__lhrY8{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d ;
}

.LoginSignUp_module_front____OKd,.LoginSignUp_module_back__R_sV0{
  position: absolute;
  /* backface-visibility: hidden; */
}
.LoginSignUp_module_flip__Fr1BE{
  transform: rotateY(180deg);
}
.LoginSignUp_module_front____OKd{
  z-index: 2;
  transform: rotateY(0deg);
}

.LoginSignUp_module_back__R_sV0{
  /* transform: rotateY(180deg); */
}


